[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
falcon = "*"
gunicorn = "*"
coveralls = "*"
pyjsend = "*"
sentry-sdk = "*"
pytest = "*"
pytest-cov = "*"
pre-commit = "*"
pylint = "*"
accela-rest-sdk = {git = "https://github.com/SFDigitalServices/accela-rest-sdk-py.git",ref = "main"}

[requires]
python_version = "3.7"
